html
  head
    script var type = "#{type}"
    script(type="text/javascript", src="/libs/p5.min.js")
    script(type="text/javascript" src="/socket.io/socket.io.js")
    //link(href='/css/t.css', rel='stylesheet')

  body
    h1= type
    div#stream
