html
  head
    script(type="text/javascript", src="/libs/p5.min.js")
    script(type="text/javascript" src="/socket.io/socket.io.js")
    script(type="text/javascript" src="/js/app.js")
  body
    h1= q
